# Exclude Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Exclude virtual environments
venv/
env/
ENV/
.venv/
puvevn/
env.bak/

# Exclude distribution and packaging files
.Python
build/
dist/
*.egg-info/

# Exclude IDE and editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Exclude Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude Heroku specific files
*.log
*.sqlite3
*.db
.DS_Store

# Exclude other temporary files
*.tgz
*.zip
*.rar
*.tar.gz
